body {
  background-color: #595959 !important;
  color: #595959;
}

.header-con {
  height: 65px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 999;
}

.spacer {
  flex: 1 1 auto;
}

.buttons {
  width: 200px;
}

.button {
  width: 100px;
  display: inline-block;
}
